SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USERNAME=tu_correo@gmail.com
SMTP_PASSWORD=tu_app_password_sin_comillas
SMTP_ENCRYPTION=smtps
SMTP_FROM_NAME=Viventa Store
APP_URL=http://localhost/paginas/tp-entornos-graficos
