/* Estilos generales */

.seccion-oscura {
  background-color: #d6d4c6;
  color: #2F2F2F;
}

.seccion-titulo{
  font-size: 2rem;
  padding: 15px 0px; 
  font-family: 'Poppins', sans-serif;
  text-align: center;
}


/* seccion presentacion */


.presentacion-carrousel{
  align-items: center;
}

.carousel-item-presentacion {
  height: 800px;
}

.carousel-item-presentacion img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.presentacion h2 {
  margin-top: 24px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}


.presentacion p{
  font-size: 17px;
  text-align: center;
  color: #999999;
} 


.presentacion {
  padding: 15px;
  font-family: 'Raleway', sans-serif; 
  word-spacing: 3px;
  width: 100%;
}

/* Seccion locales */

.locales {
  margin: 20px 0;
  padding: 2rem 3rem;
}

.locales h2 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}

.categoria-botones{
  padding: 15px 0px;
}


  .card-hover-msg {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: contrast(200%)  blur(2px); 
    transition: opacity 0.4s ease;
     padding: 10px;
  }


  .card:hover .card-hover-msg {
    opacity: 1;
  }
  .card-hover-msg p{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}


/* Seccion novedades */



.novedades {
  padding: 15px;
  width: 70%;
}
@media (min-width: 768px) {
  .novedades {
    padding: 0 3rem 40px 3rem;
  }
}
@media (min-width: 1200px) {
  .novedades {
    padding: 0 5rem 40px 5rem;
  }
}

.novedades .carrousel{
  width: 100%;
}


.carousel-item-novedades{
  height: 550px;
}

.carousel-item-novedades img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Seccion promociones */

.promociones{
  margin: 20px 0;
  padding: 2rem 3rem;
}


.promocion-index img {
  width: 100%;
  height: 100%; 
  object-fit: cover;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}


.promociones-contenedor{
    padding-top: 60px;
    margin-bottom: 40px;
}


.overlay{
    transition: all 0.2 ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.promocion-index:hover img{
    opacity: 0.2;
}

.promocion-index{
    position: relative;
}

.promocion-index:hover .overlay{
    opacity: 1;
}

.overlay .iconos-contenedor{
    display: flex;

}

.overlay i{
    color: black;
    font-size: 60px;
    margin: 10px;
}

.boton-vermas{
  margin: 1.5rem 0 2rem 0;
}


/* Login */

.fondo-loginRegister {
background-size: cover;
background-position: center;
height: 100vh;
display: flex;
text-shadow: 1px 1px 5px black;
padding: 20px;
filter: brightness(85%);
}


.loginRegister-box {
width: 440px;
height: 540px;
background: rgba(0, 0, 0, 0.5);
color: #fff;
top: 50%;
left: 50%;
position: absolute;
transform: translate(-50%, -50%);
padding: 70px 30px;
}

.loginRegister-box h1{
margin: 0;
padding: 0 0 20px;
text-align: center;
font-size: 22px;
}

.loginRegister-box h2{
margin: 0;
padding: 0 0 20px;
text-align: center;
font-size: 18px;
}

.loginRegister-box p{
margin: 0;
padding: 0;
font-weight: bold;
}

.loginRegister-box input{
width: 100%;
margin-bottom: 20px;
}

.loginRegister-box input[type="email"], input[type="password"]{
border: none;
border-bottom: 1px solid #fff;
background: transparent;
outline: none;
height: 40px;
color: #fff;
font-size: 16px;
}

.loginRegister-box input[name="Login"]{
border: none;
outline: none;
height: 40px;
background: #1399cfff;
cursor: pointer;
transition: background 0.3s;
font-size: 16px;
border-radius: 20px;
color: #fff;
}

.loginRegister-box input[name="Login"]:hover{
background: rgb(16, 124, 167);
}

.loginRegister-box a{
text-decoration: none;
font-size: 14px;
color: #fff;
}

.loginRegister-box button{
width: 100%;
margin-bottom: 20px;
border: none;
outline: none;
height: 40px;
background: #fff;
color: #999999;;
font-size: 16px;
border-radius: 20px;
transition: background 0.3s;
}

.loginRegister-box button:hover{
background: #c7c7c7;
}

/* Register */

.btn-radio {
width: 100%;
margin-bottom: 20px;
height: 40px;
background: #1ed65e;
color: #fff;
font-size: 16px;
border-radius: 20px;
cursor: pointer;
transition: background 0.3s;
display: flex;
justify-content: center; 
align-items: center;  
}

input[type="radio"]:checked + .btn-radio {
  background: #17a44b;
}

.btn-radio:hover {
  background: #19b453; 
}

/* Sobre nosotros */

.fondo-sobreNosotros{
  filter: brightness(70%);
}

.sobreNosotros p{
  font-size: 18px;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 5px black;
}

.sobreNosotros h2 {
  color: #fff;
  text-align: center;
}

.contenedor {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fondoSobreNosotros {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.fondoSobreNosotros img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(40%);
}

.contenido {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 20px;
}


/* Dueño Local / Administrador */

.botonesDueñoAdministrador {
display: flex;
flex-direction: column; 
align-items: center;
gap: 20px;
}

.botonesDueñoAdministrador button {
padding: 15px 30px;
border: 1px solid #000;
border-radius: 10px;
color: #000;
cursor: pointer;
font-size: 16px;
width: 250px;
transition: background 0.3s;
}

.botonesDueñoAdministrador button:hover {
background-color: #ddd;}


/* Dueño Local */

.FondoDueñoAdministrador {
position: relative;
z-index: 0;
overflow: hidden;
min-height: 100vh;
margin: 0;
padding: 0;
}

.FondoDueñoAdministrador::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-image: url('../Images/LogoFondo.png');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
opacity: 0.3;
z-index: -1;
}

/* Administrar Promociones/ Novedades / Locales / Reporte Promociones / Solicitud Registro / Mis promociones  */

.filtraderos{
    display: flex;
    gap: 40px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 30px 45px;
}

.filtraderos button {
    padding: 10px 20px;
}

.filtraderos button:hover {
    background-color: #b3b3b3;
    color: black;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.promociones {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.promocion-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.promocion {
  background-color: #fff;
  color: #000;
  padding: 20px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.acciones {
  flex-direction: column;
  display: flex;
  gap: 10px;
  top: 20px;
  right: 20px;
}

.info{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info h3 {
  margin: 0;
}

.info p {
  margin: 0;
  font-size: 18px;
}

.page-link {
  color: black;
}

.page-link:hover {
  background-color: #163b57ff;
  color: white;           
  border-color: #163b57ff;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.page-link:focus,
.page-link:active {
  background-color: #163b57ff;
  color: white;
  border-color: #163b57ff;
}

.page-link:focus {
  outline: none;
  box-shadow: none;
}

.Detalle:hover {
  background-color: #1399cfff;
  color: white;
  border-color: #1399cfff;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.Aceptar:hover {
  background-color: #17a44b;
  color: white;
  border-color: #17a44b;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.Rechazar:hover {
  background-color: #e90000;
  color: white;
  border-color: #e90000;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.estado {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-weight: bold;
}

/* Crear Promocion*/

.form-register {
  height: auto; 
  background: #0e3757ff;
  padding: 30px;
  margin: auto;
  margin: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}

.controls {
  width: 100%;
  background: #0e3757ff;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}



/* Buscar promociones */

.filtros{
  padding-bottom: 2rem;
  border-right: #000 solid 1px;
}

.filtros h3{
  margin: 1rem 2.3rem 0 2rem;
  font-size: 1.5rem;
}

.filtros p{
  padding-top: 1rem;
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

.filtros a:link{
  text-decoration: none;
  color: #000;
}

.filtros a:visited {
  color: rgb(151, 158, 158);
  text-decoration: underline;
}

.filtros a:hover{
  color: rgb(18, 46, 206);
}

.filtros a:active {
  color: rgb(18, 46, 206);
}

.filtros ul {
  list-style-type: none;
  padding: 0;
  margin: 0 1.6rem;
}


.promocion-cli{
  background-color: #fff;
  color: #000;
  padding: 20px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-top: .8rem;
  border-radius: 10px;
}

.promocion-cli img {
  width: 100%;
  height: 100%;
}

.promocion-cli col-3{
  padding: 0;
}

.promocion-cli button{
  padding: 1rem 1.5rem;
}

.filtros-categoria {
  padding: 0;
  margin: 0 1.6rem;
}

.filtros-categoria label {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  cursor: pointer;
}

.filtros-categoria input[type="checkbox"] {
  accent-color: #3b82f6; /* color azul como en tu imagen */
  margin-right: 8px;
  width: 18px;
  height: 18px;
}


/* Buscar Locales */

.paginacion{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

/* Perfil */

.foto-perfil {
  width: 18rem;
  height: 18rem;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto;
}


.cabecera-perfil img {
  width: 100%;
  height: 100%;
}